body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    width: 100%;
    height: auto;

}
nav{
    background-color:rgba(20, 14, 109, 0.966);
    height: 80px;
    display: flex; 
    flex-shrink: 1;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 5px ;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 5px;
    border-style: solid;
    border-color: rgb(0, 136, 255) ;
  
}

.logo{
    color: white;
    font-size: 20px;
    font-size: 32px;
    font-weight: 700;
}


.nav-links{
    display: flex;
    flex-shrink: 10;
    list-style: none;
    color: white;
    align-items: center;
    gap: 30px;
    /* background-color: blue; */
}

.nav-links li a{
    color: aliceblue;
    text-decoration: none;

}


.aet1{
    width: 100%;
    display: block;
    height: auto;
    border-left: 0;
    border-right: 0;
    border-top:0;
    border-bottom: 10px;
    border-style: solid;
    border-color: rgba(20, 14, 109, 0.966);
}
.Aboutme{
     background-image: url('backgr2.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 100%;
    padding-top: 0px;
    padding-bottom: 30px;
    height: auto;
    margin-bottom: 0px ;
   
}
.aboutme{
     padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
     color: rgb(234, 239, 244);
     font-size: 25px;
     font-style: normal;
     background-color: rgb(0, 136, 255);
     width: 100%;
     /*border-radius: 10px;
     border-style: solid;*/
     padding-top: 10px;
     margin: 0px auto;
     border-bottom: 10px solid rgba(20, 14, 109, 0.966);
}
h1{
    margin: 0;

}
.name1{
    padding-top: 10px;
    color: blanchedalmond;
    margin-left: 20px;
    font-style: italic;
  
}   
.name2{
    padding-top: 10px;
    color: blanchedalmond;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;


    width: fit-content;
    height: auto;
    margin: 0 30px;
      padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(20, 14, 109, 0.966);
    border-radius: 15px;
    border: 7px solid;
    border-color:  rgb(0, 136, 255);
    border-style: groove
    
}

.origin{
      padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
     color: rgb(234, 239, 244);
     font-size: 25px;
     font-style: normal;
     background-color: rgb(0, 136, 255);
     width: 100%;
    border: 5px;
    
     padding-top: 10px;
     margin: 0px auto;
}
.biography{
     color: blanchedalmond;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    width: fit-content;
    height: auto;
    margin: 17px 30px;
    padding-top: 40px;
      padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    background-color: rgba(20, 14, 109, 0.966);
    border-radius: 15px;
    border: 7px solid;
    border-color:  rgb(0, 136, 255);
    border-style: groove
    
}


.eduskills{
   background-image: url('backgr.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 100%;
   height: auto;
   padding-top: 0px;
   padding-bottom: 30px;
   margin-top: 0px;
  
}



.EDU{
   padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
     color: rgb(234, 239, 244);
     font-size: 25px;
     font-style: normal;
     background-color: rgb(0, 136, 255);
     width: 100%;
     /*border-radius: 10px;
     border-style: solid;*/
     padding-top: 10px;
     margin: 0px auto;
}

.edu{
   color: blanchedalmond;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    width: fit-content;
    height: auto;
    margin: 30px 20px ;
    padding: 33px 20px;
    background-color: rgba(20, 14, 109, 0.966);
    border-radius: 15px;
    border: 7px solid;
    border-color:  rgb(0, 136, 255);
    border-style: groove;
    margin-top: 50px;
}
.skill-powers-wrap{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 2;
   /*  justify-content: space-evenly; */
    gap: 100px;
    align-items: center; 
    justify-content: center;
    width: 100%;
    margin-top: 50px  ;


   
  
}

.skill{
     background-color: rgba(20, 14, 109, 0.966);
    border-radius: 15px;
    border: 7px solid;
    border-color:  rgb(0, 136, 255);
    border-style: groove;
    width: fit-content;
    height: auto;
   /*  margin-left: 7%;
    margin-top: 50px;
    padding: 10px 10px; */

}

.SF{
    background-color:rgb(0, 136, 255) ;
    color:  blanchedalmond;
    text-align: center;
    width: fit-content;
    margin: 10px auto;
    border: 7px solid;
    border-radius: 20px;
    border-color:  rgb(0, 136, 255);
    border-style: groove;
}


.skillz{
    color: blanchedalmond;
    background-color: rgba(20, 14, 109, 0.966);
    /* font-size: 95%; */
}

.sups{
     background-color: rgba(20, 14, 109, 0.966);
    border-radius: 15px;
    border: 7px solid;
    border-color:  rgb(0, 136, 255);
    border-style: groove;
    width: fit-content;
    height: auto;
 /*    margin-right: 7%;
    margin-left: auto;
    margin-top: 50px; */
    padding: 10px 10px;

}

.SP{
    background-color:rgb(0, 136, 255) ;
    color:  blanchedalmond;
    text-align: center;
    width: fit-content;
    margin: 10px auto;
    border: 7px solid;
    border-radius: 20px;
    border-color:  rgb(0, 136, 255);
    border-style: groove;
}

.supz{
    color: blanchedalmond;
    background-color: rgba(20, 14, 109, 0.966);
    /* font-size: 95%; */
}

.Int{
      padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
     color: rgb(234, 239, 244);
     font-size: 25px;
     font-style: normal;
     background-color: rgb(0, 136, 255);
     width: 100%;
    border: 5px;
    
     padding-top: 10px;
     margin: 0px auto;
}
.interestt{
    background-image: url(backgr2.jpg);
     background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: auto;
   padding-bottom: 20px;
}
.int{
 padding-top: 10px;
    color: blanchedalmond;
    margin-left: 20px;
    font-style: italic;
   
}
.inter{
     background-color: rgba(20, 14, 109, 0.966);
    border-radius: 15px;
    border: 10px solid;
    border-color:  rgb(0, 136, 255);
    border-style: groove;
    width: fit-content;
    height: auto;
    margin: 20px auto;
    padding: 40px 10px;
    color: blanchedalmond;
    font-size: 22px;
}
.contactmm{
       background-image: url(backgr.jpg);
     background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: auto;
   padding-bottom: 20px ;

}
.Contact{
     padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
     color: rgb(234, 239, 244);
     font-size: 25px;
     font-style: normal;
     background-color: rgb(0, 136, 255);
     width: 100%;
    border: 5px;
    
     padding-top: 10px;
     margin: 0px auto;
}
.nam{
    width: 70%;
    height: 30px;
    font-size: 15px;
     border: 10px solid;
    border-color:  rgb(0, 136, 255);
    border-style: groove;
    border-radius: 15px;
    ;
}
.NAM{
    padding-top: 10px;
    color: blanchedalmond;
    margin-left: 20px;
    font-style: italic;
    font-size: 20px;

}
.CON{
     padding-top: 10px;
    color: blanchedalmond;
    margin-left: 20px;
    font-style: italic;
}
.EM{
     padding-top: 10px;
    color: blanchedalmond;
    margin-left: 20px;
    font-style: italic;
    font-size: 20px;
}
.em{
      width: 70%;
    height: 30px;
    font-size: 15px;
     border: 10px solid;
    border-color:  rgb(0, 136, 255);
    border-style: groove;
    border-radius: 15px;
    ;
}
.ME{
    padding-top: 0px;
    color: blanchedalmond;
    margin-left: 20px;
    font-style: italic;
    font-size: 20px;
}
.messageme{
    width: 80%;
    height: 120%;
    font-size: 15px;
     border: 10px solid;
    border-color:  rgb(0, 136, 255);
    border-style: groove;
    border-radius: 15px;
    ;

}
.CONTACTBOX{
    background-color:rgba(20, 14, 109, 0.966) ;
    height: auto;
    width: 80%;
    padding-top: 40px;
    padding-bottom: 10px;
    margin: 10px auto;
    border-radius: 10px;
    border: 10px solid;
    border-color:  rgb(0, 136, 255);
    border-style: groove;
   
}

button{
   
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: 600;
    
}


.my-button{
    background-color: gold;
    border-radius: 15px;
    border-style: groove;
    
    
   
  

}
.phone{
    color: blanchedalmond;
    text-align: center;
    font-style: italic;
    margin-top: 29px;
    width: 100%;
}

.FORM{
 
    text-align: center;
}
.mail{
    color: blanchedalmond;
    text-align: center;
    font-style: italic;
    margin-top: 29px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    padding: 20px 10px;

}
.maIL{
    background-color: rgb(0, 136, 255) ;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 15px;
    border-style: groove;
    border-color: blanchedalmond ;
    text-align: center;
    margin-left: 5px;
}

.contactmm  a{
    color: blanchedalmond;
    text-decoration: underline;
    font-weight: 500;
    
}
.Mbutton{
    margin: 5px auto;
    text-align: center;

}

@media (max-width: 300px)
{
    .Aboutme{
        padding:0 0 10px 0;
    }
    .aboutme{
        font-size: 15px;
    }
    .name1{
        font-size: 9px;
    }
   .name2{
    margin: 0 0px;
    padding: 1px 1px;
    font-size: 12px;
     border-radius: 15px;
    border: 2px solid;
    border-color:  rgb(0, 136, 255);
    border-style: groove;
    
}  
.biography{
     margin: 0 0px;
    padding: 1px 1px;
    font-size: 12px;
     border-radius: 15px;
    border: 2px solid;
    border-color:  rgb(0, 136, 255);
    border-style: groove;
}
.eduskills{
    padding:0px 0 10px 0;
}
.edu{
        margin: 10px 0px ;
    padding: 1px 1px;
    font-size: 12px;
     border-radius: 15px;
    border: 2px solid;
    border-color:  rgb(0, 136, 255);
    border-style: groove;

}

.EDU{
    font-size: 15px;
}
.Int{
    font-size: 9px;
}
.SF{
    font-size: 12px;
}
.SP{
    font-size: 12px;
}
.skill-powers-wrap{
    gap: 10px;
}
.skill{
        margin: 0 0px;
    padding: 1px 1px;
    font-size: 12px;
     border-radius: 15px;
    border: 2px solid;
    border-color:  rgb(0, 136, 255);
    border-style: groove;
    text-align: left;
}
.sups{
          margin: 0 0px;
    padding: 1px 1px;
    font-size: 12px;
     border-radius: 15px;
    border: 2px solid;
    border-color:  rgb(0, 136, 255);
    border-style: groove;
    text-align: left;

}
.inter{
      margin: 0 10px;
    padding: 1px 1px;
    font-size: 12px;
     border-radius: 15px;
    border: 2px solid;
    border-color:  rgb(0, 136, 255);
    border-style: groove;
    font-size: 12px;

}
.int{
    font-size: 12px;
}
.origin{
    font-size: 15px;
}
.FORM{
    font-size: 9px;
}
}


